{% extends 'base.html' %}

{% block content %}
    <span class="textstyle5_index">Jak podaje sport-biznes.pl zakłady bukmacherskie są rodzajem wzajemnych zakładów polegających na przewidywaniu wyniku sportowego. Zakład bukmacherski przyjmuje instytucja lub osoba, czyli bukmacher. Zależnie od przebiegu wydarzenia sportowego zakład może być:
<ol></ol>
        <li>wygrany</li>
   <li> wygrany w połowie</li>
    <li>przegrany w połowie</li>
    <li>przegrany</li>
    <li>zwrócony</li>
</ol>
Wysokość wygranej jest zależna od wystawionego kursu oraz zainwestowanej kwoty.</span>
{% endblock %}