{% extends 'base.html' %}

{% block content %}
<div class="textstyle1">
<table id="table_690011d2" cellpadding="3" cellspacing="1" >	<tr>
		<td width="6%" height="23px" >
		</td>
		<td width="93%" height="23px" style="vertical-align: center; overflow:hidden; ">  <div id="cell_19252999">
    <div class="textstyle2" style="text-align:center">
      <span class="textstyle5_index">G O S P O D A R Z </span>
      </div>
    </div>
		</td>
	</tr>
	<tr>
		<td width="6%" height="170px" style="vertical-align: top; overflow:hidden; ">  <div id="cell_67367245">
    <div class="textstyle2">
      <span class="textstyle5_index"><br/><br/>G<br/><br/>O<br/><br/>Ś<br/><br/>Ć</span>
      </div>
    </div>
		</td>
		<td width="93%" height="170px" >
            {{ predict|safe }}
		</td>
	</tr>
</table>  </div>
{% endblock %}